# ~/.bashrc.d/npm-completions.rc
PATH_TO_NPM_COMPLETION="$HOME/.nvm/versions/node/$(/bin/ls -v $HOME/.nvm/versions/node/ | tail -n 1)/lib/node_modules/npm-completion"
source $PATH_TO_NPM_COMPLETION/npm-completion.sh