[alias]
    ch = checkout
    br = branch
    co = commit
    st = status
    ls = log --oneline --graph --decorate --show-signature --all

[core]
	safecrlf = true
	autocrlf = input
	editor = vim

[credential "https://github.com"]
	helper = store

[credential "https://dev.azure.com"]
	useHttpPath = true

[includeIf "gitdir/i:~/code/github/"]
	path = ~/.git/conf/github.conf

[includeIf "gitdir/i:~/code/gitlab/"]
	path = ~/.git/conf/gitlab.conf

[init]
	defaultBranch = main

[safe]
	directory = gitdir/i:~/code/
